<h2>Movie Results</h2>
<ul>
  <% @movies.each do |m| %>
    <li>
      <img src="https://image.tmdb.org/t/p/w154/<%= m['poster_path'] %>" alt="<%= m['title']%>">
      <br>
      <%= m['title'] %>
    </li>
    <br>
    <br>
    <% end %>
</ul>
