<h2>Movie Results</h2>

<!-- movies['results'].each do |m| # Refer to how it was done for student names in the template
	puts m['title']
end -->

<ul>
  <% @movies.each do |m| %>
    <li>
      <%= m['title'] %>
    </li>
    <% end %>
</ul>
