<h2>Movie Results</h2>
<ul>
  <% @movies.each do |m| %>
    <li>
      <%= m['title'] %>
      <img src="https://image.tmdb.org/t/p/w342/<%= m['poster_path'] %>" alt="">
    </li>
    <% end %>
</ul>
