<div class="wrapper">
  <a href="/games">Restart Game</a>
  <div class="container">
    <h2>Rock, Paper, Scissors</h2>
    <div class="games">
      <a href="/games/rock_paper_scissors/rock">Throw Rock</a>
      <a href="/games/rock_paper_scissors/paper">Throw Paper</a>
      <a href="/games/rock_paper_scissors/scissors">Throw Scissors</a>
    </div>
  </div>
</div>
