<div class="wrapper">
  <a href="/games/rock_paper_scissors">Throw Another</a>
  <div class="container">
    <h2><%= @winner %></h2>
    <div class="games">
      <div class="answer">
        <p>Computer threw: <%= @computer %></p>
        <p>You threw: <%= @you %></p>
      </div>
    </div>
  </div>
</div>
