<h2>Rock Paper Scissors</h2>

<form class="" action="rps/result">
  <div class="form">
    <h3><strong>Choose:</strong></h3>
      <label for="">Rock:<input type="radio" name="rps" value="Rock"></label>
      <label for="">Paper:<input type="radio" name="rps" value="Paper"></label>
      <label for="">Scissors:<input type="radio" name="rps" value="Scissors"></label>
    <label for="" class="block top-margin"><input type="submit" name="" value="Play game"></label>
  </div>
</form>
