<h2>Rock Paper Scissors</h2>

<table>
  <tr>
    <td><strong>Computer Choice: </strong></td>
    <td><%=@comp_choice%></td>
  </tr>
  <tr>
    <td><strong>Your Choice: </strong></td>
    <td><%=@user%></td>
  </tr>
  <tr>
    <td colspan="2" class="align-right"><%=@result%></td>
  </tr>
</table>
<a href="/rps">Play Again</a>
