@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
  /* background-color: black; */
  background-size: cover;
  background-image: url("../images/tenor.gif");
  background-position: center;
  background-repeat: repeat;
  color: white;
  font-family: 'Press Start 2P', cursive, sans-serif;
}

a{
  text-decoration: none;
  color: white;
}

a:hover{
  text-decoration: underline;
}

img {
  max-width: 300px;
}

.hero {
  max-width: 100%;
}

.thumb {
  max-width: 25px;
}

input {
  max-width: 25%;
  font-style: italic;
  color: gray;
}
