<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Calculatoooooorrrrr</title>
</head>
<body>
  <nav>
  <h1>Amazing Web Calculator App</h1>
  <hr>
  </nav>
  <%= yield %>
<hr>
  <footer>
    &copy; infernal Device Productions 2020


  </footer>
</body>
</html>
