body {
margin: 0 auto;
}

.catID {
  display: inline-block;
  position: relative;
  left: 20px;

}

#containerBackground {
  /* border: 20pt solid black; */
  /* background-color: yellow; */
  width: 100%;
  height: 70%;
  margin: 0 auto;
}

#backgroundRiver {
  /* position: relative; */
  display: inline-block;
  width: 100%;
  object-fit: cover;
}

#beachball {
  display:inline-block;
  top: 0px;
  position: absolute;
  width: 100px;
}
