<h3>Create Item : </h3>

<form class="" action="/items" method="post">
  <label>
    Item name:
    <input type="text" name="item_name" >
  </label>
  <br>

  <label>
    Item cost:
    <input type="INTEGER" name="item_cost" >
  </label>
  <br>

  <label>
    Store:
    <input type="text" name="store_name" >
  </label>
  <br>

  <label>
    Recipient:
    <input type="text" name="recipient" >
  </label>
  <br>

  <label>
    Event:
    <input type="text" name="event" >
  </label>
  <br>

  <label>
    Event date:
    <input type="text" name="event_date" >
  </label>
  <br>

  <label>
    member assigned to purchase:
    <input type="integer" name="member_id" >
  </label>
  <br>

  <label>
    Link:
    <input type="text" name="Link" >
  </label>
  <br>

  <label>
    Image URL:
    <input type="text" name="image_url" >
  </label>
  <br>

<button type="submit">Update</button>

</form>
