<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/style.css">
    <title>Household Shopping</title>

  </head>
  <body>
    <header>
      <h1>Shopping organiser</h1>

      <ul>
        <li><a href="/">Home Page</a></li> |
        <li><a href="/items">Shopping List</a></li> |
        <li><a href="/members">Household Member List</a></li>
      </ul>
        <hr>
    </header>


      <%= yield %>

    <footer>
      <hr>


    </footer>
  </body>
</html>
