<h3>Create Household member: </h3>

<form class="" action="/members" method="post">
  <label>
    Name:
    <input type="text" name="name" >
  </label>
  <br>

  <label>
    Compentency rating:
    <input type="INTEGER" name="competency_rating" >
  </label>
  <br>

  <label>
    Shopping Style:
    <input type="text" name="shopping_style" >
  </label>
  <br>

  <label>
    Phone Number:
    <input type="text" name="phone_number" >
  </label>
  <br>

<button type="submit">Create</button>

</form>
