<h2>Guess the secret number</h2>

<form class="" action="secret/result">
  <table>
    <%
        i = 1
        5.times do
    %> <tr> <%
         5.times do
         %>
         <td><label for="id<%=i%>"><%=i%></label></td><td><input id="id<%=i%>" type="radio" name="number" value="<%=i%>"></td><% i+= 1 %>
    <% end %>
        </tr>
    <% end %>
      <tr>
        <td colspan='10' class='align-right'><input type="submit" name="" value="submit"></td>
      </tr>
  </table>
</form>
