<h2>Guess the secret number</h2>

<p>
  <strong>Your Guess was: </strong> <%=@guess%> <br>
  <strong>The Computers number was: </strong> <%=@num%> <br><br>
  <% if @guess == @num %>
    <%="Right, you guessed it. Well done"%>
  <%else%>
    <%="Wrong, better luck next time."%>
  <% end %>
</p>

<a href="/secret">Try again</a>
