<div class="wrapper">
  <a href="/games/magic/ask">Ask another question</a>
  <div class="container">
    <h2>Magic Ball Says</h2>
    <div class="games">
      <div class="answer">
        <p><%= @answer %></p>
        <p>to your question - <%= @question %></p>
      </div>
    </div>
  </div>
</div>
