<div class="wrapper">
  <a href="/games">Restart Game</a>
  <div class="container">
    <div class="games">
      <div class="play">
        <h2>Ask Magic Ball</h2>
        <form action="/games/magic/answer">
          <input type="text" name="question">
          <button>Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>
