<h1>Magic 8 Ball says ...</h1>

<p>You asked "<%= params[:question]%>"</p>

<p>The magic 8 ball says:</p>
<p><%=@random_response%></p>

<a href="/games/magic">Ask another question</a>
|
<a href="/">Go back to main menu</a>
