<h1>Magic 8 Ball! </h1>
<p>Ask a question to the magic 8 ball:</p>
<hr>
<form class="" action="/games/magic/answer">
  What is your question?
  <br>
  <textarea name="question" value="" placeholder="Ask a closed question..."></textarea>
  <br>
  <br>
  <button type="submit" name="button">Submit</button>
</form>

<img src="games-on-rails-homework/app/assets/images/8-ball.gif" alt="">
