<h3>Type your question into the form below to have your decision made for you!</h3>


<form action="/games/magic/tell">

<label>
  What will you ask?
  <input type="text" name="magic_q">
</label>
<button>Ask...</button>
</form>
