<h1>Welcome!</h1>

<p>What would you like to do today?</p>

<p><a href="/games/magic">See into the future</a></p>
<p><a href="/games/secret">Guess the number</a></p>
<p><a href="/games/rps">Play rock, paper, scissors</a></p>
