<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Movies!!!</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <nav>
    <h1> Movie Database</h1>
  </nav>
  <hr>
<%= yield %>


<hr>
  <footer>
    &copy; Ruby is trying to kill me Productions 2020
    </footer>

</body>
</html>
