<h2> Add New Game<h2>

  <form action='/games' method='post'>
      <label>
      Name:
      <input type='text' name='name'>
      </label>
      <br>
      <label>
      Platform:
      <input type='text' name='platform'>
      </label>
      <br>
      <label>
      Description:
      <textarea name='description'></textarea>
      </label>
      <br>
      <label>
      Maximum Number of Players:
      <input type='text' name='max_players'>
      </label>
      <br>
      <label>
      Multiplayer:
      <input type='text' name='multiplayer'>
      </label>
      <br>
      <label>
      Box Art:
      <input type="text" name='box_art'>
      </label>
      <br>
      <input type="submit" value='Add Game'>
      </form>
