
<div class="container camper">
  <ul>
    <li>
      <div class="image">
      </div>
    </li>
    <li class="form">
      <form action="/campers" method="POST">
        <h2>Add a new Camper.</h2>
        <div>
          <div>
            <label>
              Camper's Name:
              <input type="text" name="name">
            </label>
          </div>
          <div>
            <label>
              Camper's email address:
              <input type="email" name="email">
            </label>
          </div>
        </div>
        <button class="submit">Add Camper</button>
      </form>
    </li>
  </ul>
</div>
