<h1>Add a new frontend framework!</h1>

<form action="/frontends" method="post">

  <label>
    Name:
    <input type="text" name="name">
  </label>
  <br>

  <label>
    Year Released:
    <input type="text" name="date_released">
  </label>
  <br>

  <label>
    Logo:
    <input type="text" name="logo">
  </label>
  <br>

  <input type="submit" value="Add Framework">

</form>
