<h2>Add a New Event</h2>

<form action ='/events' method= 'post'>
<label class='add'>Name:
<input type='text' name='name'>
</label>
<label class='add'>Contact Name:
<input type='text' name='contact_name'>
</label>
<label class='add'>Contact Email:
<input type='text' name='contact_email'>
</label>
<label class='add'>Description:
  <textarea name='description'></textarea>
</label>
<label class='add'>Start Date:
<input type='date' name='start_date'>
</label>
<label class='add'>End Date:
<input type='date' name='end_date'>
</label>
<label class='add'>Number of People:
<input type='text' name='cast_count'>
</label>
<label class='add'>Have they paid?
<input type='text' name='paid'>
</label>
<label class='add'>Which venue?
<input type='text' name='venue_id'>
</label>

    <br>
      <input class='add_button' type="submit" value='Add Event'>
     </form>
