<h1>Add Renter</h1>
<form action="/renters" method="post">
  <label>
    First name:
    <input type="text" name="first_name">
  </label>
  <br>
  <label>
    last_name:
    <input type="text" name="last_name">
  </label>
  <br>
  <label>
    phone_number:
    <input type="text" name="phone_number">
  </label>
  <br>
  <label>
    paid:
    <input type="text" name="paid">
  </label>
  <br>
  <label>
    rent:
    <input type="integer" name="rent">
  </label>
  <br>
  <label>
    Property:
    <input type="text" name="property_id">
  </label>
  <br>
  <button type="submit">Add renter</button>
</form>
