<h2>New Product Category</h2>
<table>
  <tr>
    <td>Name:</td>
    <td><input type="text" name="category_name" value=""></td>
  </tr>
  <tr>
    <td>Description:</td>
    <td><input type="text" name="category_description" value=""></td>
  </tr>
  <tr>
    <td colspan="2"><input type="submit" name="" value="Create"></td>
  </tr>
</table>
