<h2>Category Edit: ##</h2>
<table>
  <tr>
    <td>ID</td>
    <td><input type="text" name="category_id" value="##"readonly="readonly"></td>
  </tr>
  <tr>
    <td>Name:</td>
    <td><input type="text" name="category_name" value="##"></td>
  </tr>
  <tr>
    <td>Description:</td>
    <td><input type="text" name="category_description" value="##"></td>
  </tr>
  <tr>
    <td colspan="2"><input type="submit" name="Update" value="##"></td>
  </tr>
</table>
