<h2>Inventory Index</h2>
<table>
  <tr>
    <th>Item Name</th>
    <th>Description</th>
  </tr>
  <% @items.each do |item|%>
  <tr>
      <td><a href="/item/<%=item.id%>"><%=item.name%></a></td>
      <td><%=item.description%></td>
  </tr>
  <% end %>
</table>
