<h2>New Inventory Item</h2>
<table>
  <tr>
    <td>Name:</td>
    <td><input type="text" name="item_name" value=""></td>
  </tr>
  <tr>
    <td>Description:</td>
    <td><input type="text" name="item_description" value=""></td>
  </tr>
  <tr>
    <td>Image URL:</td>
    <td><input type="text" name="item_image_url" value=""></td>
  </tr>
  <tr>
    <td>Category:</td>
    <td><select class="" name="item_category_id">
      <option value="##">##</option>
    </select></td>
  </tr>
  <tr>
    <td>Supplier:</td>
    <td><select class="" name="item_supplier_id">
      <option value="##">##</option>
    </select></td>
  </tr>
  <tr>
    <td>Unit of Measure:</td>
    <td><select class="" name="item_uom_id">
      <option value="##">##</option>
    </select></td>
  </tr>
  <tr>
    <td colspan="2"><input type="submit" name="" value="Create"></td>
  </tr>
</table>
