<h2>New Inventory Item</h2>
<table>
  <form action="/item" method="post">
  <tr>
    <td><strong>Name:</strong></td>
    <td><input type="text" name="item_name" value=""></td>
  </tr>
  <tr>
    <td><strong>Description:</strong></td>
    <td><input type="text" name="item_description" value=""></td>
  </tr>
  <tr>
    <td><strong>Image URL:</strong></td>
    <td><input type="text" name="item_image_url" value=""></td>
  </tr>
  <tr>
    <td colspan="2" class="align-right"><input type="submit" name="" value="Create"></td>
  </tr>


  </form>
</table>
