<h2>Item edit: ##</h2>

<table>
  <tr>
    <td>ID:</td>
    <td><input type="text" name="item_id" value="##" readonly="readonly"></td>
  </tr>
  <tr>
    <td>Name:</td>
    <td><input type="text" name="item_name" value="##"></td>
  </tr>
  <tr>
    <td>Description:</td>
    <td><input type="text" name="item_description" value="##"></td>
  </tr>
  <tr>
    <td>UOM:</td>
    <td><select class="" name="item_uom_id">
      <option value="##"></option>
    </select></td>
  </tr>
  <tr>
    <td>Category:</td>
    <td><select class="" name="item_category_id">
      <option value="##"></option>
    </select></td>
  </tr>
  <tr>
    <td>Supplier:</td>
    <td><select class="" name="item_supplier_id">
      <option value="##"></option>
    </select></td>
  </tr>
  <tr>
    <td colspan="2"><input type="submit" name="Update" value="##"></td>
  </tr>
</table>
