<h2>Location: ##</h2>
<table>
  <tr>
    <td>Name: </td>
    <td>##</td>
  </tr>
  <tr>
    <td>Description: </td>
    <td>##</td>
  </tr>
  <tr>
    <td>Item: </td>
    <td>## (##qty/uom##)</td>
  </tr>
  <tr>
    <td>Edit</td>
    <td>Delete</td>
  </tr>
</table>
