<h2>Locations</h2>
<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Items</th>
    <th>Quantity</th>
  </tr>
  <tr>
    <td>##</td>
    <td>##</td>
    <td>##</td>
    <td>##</td>
  </tr>
</table>
