<h2>Location Edit: ##</h2>
<table>
  <tr>
    <td>ID:</td>
    <td><input type="text" name="location_id" value="##"></td>
  </tr>
  <tr>
    <td>Name:</td>
    <td><input type="text" name="location_name" value="##"></td>
  </tr>
  <tr>
    <td>Description:</td>
    <td><input type="text" name="location_description" value="##"></td>
  </tr>
  <tr>
    <td>Item:</td>
    <td><select class="" name="item_id">
      <option value="##"></option>
    </select></td>
  </tr>
  <tr>
    <td colspan="2"><input type="submit" name="Update" value="##"></td>
  </tr>
</table>
