<h2>New Inventory Location</h2>
<table>
  <tr>
    <td>Name:</td>
    <td><input type="text" name="item_name" value=""></td>
  </tr>
  <tr>
    <td>Description:</td>
    <td><input type="text" name="item_description" value=""></td>
  </tr>
  <tr>
    <td>Item:</td>
    <td><select class="" name="item_id">
      <option value="##">##</option>
    </select></td>
  </tr>
  <tr>
    <td colspan="2"><input type="submit" name="" value="Create"></td>
  </tr>
</table>
