<h2>Settings</h2>
<ul>
  <li><a href="/locations">Locations</a></li>
  <li><a href="/categories">Categories</a></li>
  <li><a href="/suppliers">Suppliers</a></li>
  <li><a href="/uoms">Units of measure</a></li>
</ul>
