<h2>Supplier edit: ##</h2>
<table>
  <tr>
    <td>Id:</td>
    <td><input type="text" name="supplier_id" value="##"></td>
  </tr>
  <tr>
    <td>name:</td>
    <td><input type="text" name="supplier_name" value="##"></td>
  </tr>
  <tr>
    <td>Description:</td>
    <td><input type="text" name="supplier_description" value="##"></td>
  </tr>
  <tr>
    <td>Email:</td>
    <td><input type="text" name="supplier_email" value="##"></td>
  </tr>
  <tr>
    <td>Phone:</td>
    <td><input type="text" name="supplier_phone" value="##"></td>
  </tr>
  <tr>
    <td colspan="2"><input type="submit" name="Update" value="##"></td>
  </tr>
</table>
