<h2>Suppliers</h2>
<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Phone</th>
    <th>Email</th>
  </tr>
  <tr>
    <td>##</td>
    <td>##</td>
    <td>##</td>
    <td>##</td>
  </tr>
</table>
