<h2>Supplier: ##</h2>
<table>
  <tr>
    <td>Name: </td>
    <td>##</td>
  </tr>
  <tr>
    <td>Description: </td>
    <td>##</td>
  </tr>
  <tr>
    <td>Email: </td>
    <td>##</td>
  </tr>
  <tr>
    <td>Phone: </td>
    <td>##</td>
  </tr>
  <tr>
    <td>Edit</td>
    <td>Delete</td>
  </tr>
</table>
