<h2>New Supplier</h2>
<table>
  <form class="" action="/supplier" method="post">
    <tr>
      <td>Name:</td>
      <td><input type="text" name="supplier_name" value=""></td>
    </tr>
    <tr>
      <td>Description:</td>
      <td><input type="text" name="supplier_description" value=""></td>
    </tr>
    <tr>
      <td>Supplier Email:</td>
      <td><input type="text" name="supplier_email" value=""></td>
    </tr>
    <tr>
      <td>Supplier Phone:</td>
      <td><input type="text" name="supplier_phone" value=""></td>
    </tr>
    <tr>
      <td colspan="2" class='align-right'><input type="submit" name="" value="Create"></td>
    </tr>
    </form>
</table>
