<h2>New Unit of Measure</h2>
<table>
  <form class="" action="/uom" method="post">
    <tr>
      <td>Name:</td>
      <td><input type="text" name="uom_name" value=""></td>
    </tr>
    <tr>
      <td>Description:</td>
      <td><input type="text" name="uom_description" value=""></td>
    </tr>
    <tr>
      <td colspan="2" class='align-right'><input type="submit" name="" value="Create"></td>
    </tr>
  </form>
</table>
