<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Mountains</title>
  </head>
  <body>
    <h1>The 5 Mountains</h1>
    <nav>
<section>
    <hr>
  <%= yield %>

</section>
      <footer>
      <hr>
      &copy; Sergey Brin 2021
      </footer>
  </body>
</html>
