<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Famous Artists</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
<header>
  <h1>Famous Artists Database</h1>
  <a href="/">Home</a>
  <a href="/new">Add a new artist</a>

  <hr>
</header>

    <%= yield %>

    <footer>
      <hr>
      &copy; Famous Artists fan page
    </footer>
  </body>
</html>
