<h3>Enter artist details:</h3>
<form class="" action="/" method="post">
  Name:
  <input type="text" name="name" value="">
  <br>
  Date of Birth:
  <input type="text" name="birth" value="">
  <br>
  Date of Death:
  <input type="text" name="death" value="">
  <br>
  Alive or Dead (1 or 0):
  <input type="BOOLEAN" name="living" value="">
  <br>
  Famous work name:
  <input type="text" name="work_name" value="">
  <br>
  Image URL for famous work:
  <input type="text" name="image_url" value="">
  <br>

  <button type="submit">Submit!</button>
</form>
