<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/style/style.css">
  <title>The Most Interesting Mountains!</title>
</head>
<body>
  <nav>
    <h1>Mountains From All Around The World!</h1>
    <a href="/mountains">Mountain Listing</a>
    |
    <a href="/mountains/new">Add a New Mountain</a>
  </nav>

  <section>
    <%= yield %>
  </section>

  <footer>
    <hr>
    &copy; Some Nonsense 2020
  </footer>
</body>
</html>
