<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/style.css">
    <title>Movie Lookup Tool</title>
  </head>
  <body>
    <nav>
      <h1>Movie Database Lookup</h1>
    </nav>
    <hr>

    <%= yield %>

    <footer>
      <hr>
      &copy; Copyright
    </footer>

  </body>
</html>
