
<h2>Enter Your Movie Search Term</h2>

<form action="/movie_result">
  <label for="">
    Enter name search term:
    <input type="text" name="movie_search" value="">
  </label>
  <button>Search!</button>
</form>
