body {
  font-familiy: Helvetica, sans-serif;
  background-color: #140915;
  color: #0b9698;
  padding: 6px;
}

*{
  border: 1px solid red;
}

header {
  /* border: 1px solid red; */
  height: 150px;
  background-color: #128d8a;
  color:black;
  padding: 6px;
}

.left ul {
  /* border: 1px dashed green; */
  display: inline;
  text-align: center

}

.right a {
  color: brown;
  text-decoration: none;
}

.right a:hover {
  text-decoration-style: wavy;
}

.right li {
  /* border: 1px solid red; */
  display: inline;
  /* list-style-type: none; */
  margin-left: 12px;
}


div.main {
  /* border: 1px solid green; */
  height: 100%;
}

header img{
  margin-top: 6px;
  margin-left: 5px;
}

.left, .right {
  /* border: 1px solid yellow; */
  display: inline-block;
  box-sizing: border-box;
}

.left {
  width: 60%;
}

.right {
  width: 40%;
  text-align: right;
}

header h1 {
  /* display: inline; */
  align-items: center;
}

span {
  transition: all .7s;
}

span { margin-right: 0px; }
li:hover span { margin-right: 100px; }
