<h2>Rock paper scissors<br> Make your choice
</h2>


<form action="/rps/result">
  <label>
Choose your weapon Player One:
</label><br>
<label> Rock
<input type="radio" id='rock'name='player_one_choice' value='rock'></label><br>
<label> Paper
<input type="radio" id='paper'name='player_one_choice' value='paper'>
</label><br>
<label> Scissors
<input type="radio" id='scissors'name='player_one_choice' value='scissors'>
</label>
<br>
<!-- <label>
Choose your weapon Player Two:
</label><br>
<label> Rock
<input type="radio" id='rock'name='player_two_choice' value='rock'></label><br>
<label> Paper
<input type="radio" id='paper'name='player_two_choice' value='paper'>
</label><br>
<label> Scissors
<input type="radio" id='scissors'name='player_two_choice' value='scissors'>
</label>
<br> -->
<button>Lets Play!</button>

</form>
