<h2>Rock Paper Scissors </h2>
<p>
  Player one chose: <%= @player_one_choice %>
</p>
<p>
  Computer chose: <%= @player_two_choice %>
</p>
<p>
  <%= @who_won %>
</p>

<a href="/rps">Try Again?</a>
<br>
