body {
    font-family: Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 24px;
    height: 100vh;
}

main {
    margin-top: 24px;
}

.book-cover {
    max-width: 400px;
    border-radius: 16px;
}

p {
    max-width: 400px;
}

.divider {
    color: rgb(216, 216, 216);
    display: inline;
}

input, label {
    display:block;
}