<h1>Secret number guess</h1>

<form class="" action="/games/secret/:guess" >
  1<input type="radio" name="answer" value="1">
  2<input type="radio" name="answer" value="2">
  3<input type="radio" name="answer" value="3">
  4<input type="radio" name="answer" value="4">
  5<input type="radio" name="answer" value="5">
  6<input type="radio" name="answer" value="6">
  7<input type="radio" name="answer" value="7">
  8<input type="radio" name="answer" value="8">
  9<input type="radio" name="answer" value="9">
  10<input type="radio" name="answer" value="10">

<button type="submit" name="button">That's my guess!</button>
</form>
