body{
  background-color: lightgray;
  margin-top:20px;
}

.main{
  max-width: 900px;
  margin: auto;
}

.right{
  position: relative;
  text-align: right;
  /* border: 1px red solid; */
}

.align_right{
  text-align: left;
  font-weight: bold;
}

table{
  border-collapse: collapse;
}
td{
  border: 1px solid black;
  padding: 3px;
}
img{
  float: left;
  margin-right: 20px;
}
.show{
  height:250px;
}
#heading{
  text-align: left;
}
.left{
  display: inline;

}
#navlink{
display: inline;

}
nav{

}
h1{
  display: inline;
  margin-right: 500px;
}
section{
  height: 80vh;
}
