<h2>Welcome to the Games Center</h2>

<p>
  Lets Play!
  </p>
  <p>
  <a href="/eightball">Ask the Magic 8 ball a question</a>
</p>
  <p>
  <a href="/secret">Guess the secret number</a>
  </p>
  <p>
  <a href="/rps">Play Rock Paper Scissors</a>
</p>
