<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Calculator</title>
  </head>
  <body>
    <h1>Amazing Web Calculator App</h1>
    <hr>

    <p>
      Your calculation, sir/madam:
      <%= @first %>
      <%= @op %>
      <%= @second %>
      =
      <%= @answer %>
    </p>
  </body>
</html>
