<h2>Your Magic 8 Ball Answer is ...</h2>


<p>
  Your question was : <%= params[:question] %>
</p>

<p>
  The magic 8ball responded:
  <%= @reply %>
  </p
  <button><a href="/eightball">Ask Again?</a></button>
  <br>
