<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Absolute Units</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <nav>
      <h1>Absolute Units</h1>
      <a href="/units">List of Units</a>
      |
      <a href="/units/new">Add New Unit</a>
      <hr>
    </nav>

    <section>
      <%= yield %>
    </section>

    <footer>
      <hr>
      &copy; Absolute Zero Coolness Ltd
    </footer>
  </body>
</html>
