<h2>List of Units</h2>

<ul>
  <% @units.each do |unit| %>
    <li>
      <a href="/units/<%= unit['id']%>">
      <%= unit['name'] %>
      </a>- Rating
      (<%= unit['rating'] %>)
      -
      <% if unit['absoluteness'] == 1 %>
        Absolute
      <% else %>
        Not Absolute
      <% end %>
    </li>
  <% end %>
</ul>
