
<h2>Look up a Stock by Code</h2>

<form action="/lookup">

  <label>
  Stock code:
  <input type="text" name="stock">

</label>

<button>lookup</button>

</form>


<img src="https://media3.giphy.com/media/bMycGOQLESDCEnLNUz/giphy.gif?cid=6104955eb22bc978d214594fe9ed73f4d1c7f04a2538cc3e&rid=giphy.gif" alt=""
