<h2>Add new employee</h2>
<form class="" action="/employee" method="post">
  <table>
    <tr>
      <td>First Name:</td>
      <td><input type="text" name="first_name" value=""></td>
    </tr>
    <tr>
      <td>Last Name:</td>
      <td><input type="text" name="last_name" value=""></td>
    </tr>
    <tr>
      <td>Mobile Number:</td>
      <td><input type="text" name="mobile" value=""></td>
    </tr>
    <tr>
      <td>Email Address:</td>
      <td><input type="text" name="email" value=""></td>
    </tr>
    <tr>
      <td>Birth Date (YYYY-MM-DD):</td>
      <td><input type="text" name="birthdate" value=""></td>
    </tr>
    <tr>
      <td>Start Date (YYYY-MM-DD):</td>
      <td><input type="text" name="start_date" value=""></td>
    </tr>
    <tr>
      <td>Image URL:</td>
      <td><input type="text" name="image_url" value=""></td>
    </tr>
    <tr>
      <td colspan="2" class="right"><input type="submit" name="submit" value="Submit"></td>
    </tr>
  </table>
</form>
