<h1>Pick your response:</h1>

<form class="" action="/games/rps/results">
  Rock<input type="radio" name="guess" value="Rock">
  Scissors<input type="radio" name="guess" value="Scissors">
  Paper<input type="radio" name="guess" value="Paper">

<button type="Submit" name="button">Let's play!</button>

</form>
