<h1>These are your results to RPS</h1>

<p>The computer guessed <%=@computer_guess%> and you guessed <%= params[:guess] %>.</p>
<p><%= @result %></p>

<a href="/games/rps">Play again</a>
|
<a href="/">Go back to main menu</a>
