<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Moofies</title>
  </head>
  <body>
    <nav>
      <h1>Movie search</h1>
      <hr>
    </nav>

    <!-- Insert the specific page content from the route handler here! i.e. if the last line of the route block is "erb :answer", load the answer.erb file and place its contents where this "yield" appears -->
    <%= yield %>

    <hr>
    <footer>
      Wirth Movie Database
    </footer>

  </body>
</html>
