<h2>Magic 8 ball</h2>

<form class="" action="magic/result">
  <div class="form">
    <label for="">Question: <input type="text" name="question" value=""></label>
    <label for="" class="block top-margin"><input type="submit" name="" value="Ask magic 8 ball"></label>
  </div>
</form>
