<h2>Please enter your movie search</h2>

<form action="/movie/result">

<label>


</label>
Movie Search:
<input type="text" name="movie_name">
<br>
<label>



</label>
<br>
<label>



</label>
<br>
<button>Submit!</button>







</form>
