<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Movies Homework</title>
</head>


<body>
  <nav>
    <h1>Alien Movies</h1>
    <hr>
  </nav>




  <%= yield %>



  <hr>

  <footer>
    &copy; Bruna Barbosa de Souza 2020
  </footer>


</body>
</html>
