<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Movie Look Up</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <nav>
      <div class="center"">
        <h1>Movie finder</h1>
      </div>
    </nav>
      <div class="center" id="main">
        <%= yield%>
      </div>
    <footer class="center">
      &copy; Movie Mates 2020
    </footer>
  </body>
</html>
