<div class="wrapper">
  <a href="/games/secret">Guess Again</a>
  <div class="container">
    <% if @result %>
      <h2>Your Guess was Right</h2>
    <% else %>
      <h2>Your Guess was Wrong</h2>
    <% end %>
    <div class="games">
      <div class="answer">
        <p>Computer guessed: <%= @computer %></p>
        <p>You guessed: <%= @myguess %></p>
      </div>
    </div>
  </div>
</div>
