<div class="wrapper">
  <a href="/games">Restart Game</a>
  <div class="container">
    <h2>Guess a Secret Number</h2>
    <div class="games">
      <% 10.times do |i| %>
          <a href="/games/secret/<%= i+1 %>"><%= i+1 %></a>
      <% end %>
    </div>

  </div>
</div>
