<h3>Please select a game to continue.</h3>

<h4>Magic 8 Ball</h4>
<p>
  Tough decision?  Stuck at a crossroads?  Take the effort out of mature decision making with this fun responsibility reassigner.
</p>
