<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Rental Management System</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <nav>
      <h1>Rental Management System</h1>
      <a href="/properties">Properties</a>
      |
      <a href="/renters">Renters</a>
    </nav>
    <main>
    <%= yield %>

    </main>
    <footer>
      &copy; RMS, 2020
    </footer>
  </body>
</html>
