<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Rentals</title>
  </head>
  <body>
    <nav>
      <h1>Rentals</h1>
      <a href="/properties">Properties</a>
      |
      <a href="/renters">Renters</a>
    </nav>

    <%= yield %>

    <footer>
      &copy; Rentals, 2020
    </footer>
  </body>
</html>
