<h1>Add Property</h1>
<form action="/properties" method="post">
  <label>
    Street number and name:
    <input type="text" name="street_name">
  </label>
  <br>
  <label>
    Suburb:
    <input type="text" name="suburb">
  </label>
  <br>
  <label>
    State:
    <input type="text" name="state">
  </label>
  <br>
  <label>
    Postcode:
    <input type="text" name="postcode">
  </label>
  <br>
  <label>
    Description:
    <input type="text" name="description">
  </label>
  <br>
  <label>
    Photo:
    <input type="text" name="image_url">
  </label>
  <br>
  <button type="submit">Add property</button>
</form>
