<div class="form">
  <form class="" action="/property" method="POST">
    <h2>Add New Property</h2>
    <ul>
      <li>
        <div class="">
          <label>
            <p>Property Name:</p>
            <input type="text" name="name">
          </label>
        </div>
        <div class="">
          <label>
            <p>Property Address:</p>
            <input type="text" name="address">
          </label>
        </div>
        <div class="">
          <label>
            <p>Property Description:</p>
            <input type="text" name="description">
          </label>
        </div>
        <div class="">
          <label>
            <p>Property Size:</p>
            <input type="text" name="size">
          </label>
        </div>
      </li>
      <li>
        <div class="">
          <label>
            <p>Property Image:</p>
            <input type="text" name="image_url">
          </label>
        </div>
        <div class="">
          <label>
            <p>Property Price:</p>
            <input type="text" name="price">
          </label>
        </div>
        <div class="">
          <label>
            <p>Number of Beds:</p>
            <input type="text" name="beds">
          </label>
        </div>
        <div class="">
          <label>
            <p>Number of Baths:</p>
            <input type="text" name="bath">
          </label>
        </div>
      </li>
    </ul>
    <button>Add Property</button>
  </form>
</div>
