<div class="wrapper">
  <div class="container">
    <div class="games">
      <h2>Choose a Game to Play</h2>
      <a href="/games/magic/ask">Magic Ball</a>
      <a href="/games/rock_paper_scissors">Rock-Paper-Scissors</a>
      <a href="/games/secret">Secret Number</a>
    </div>
  </div>
</div>
