
@import url('https://fonts.googleapis.com/css2?family=Goldman&display=swap');
/* Body */



  body {
    background: #F5F4EF url('https://i.imgur.com/1BmUAzM.png');
    color: #ffffff;
    font-size: 87.5%; /* Base font size: 14px */
    font-family:
    line-height: 1.429;
    margin: 0;
    padding: 0;
    text-align: left;
  }



h1{
  font-size: 60px;
  color: #ffffff;
  font-style: strong;
  font-family: Goldman;
  padding-top: 50px;
   padding-right: 100px;
   padding-bottom: 0px;
   padding-left: 500px;
}
.typewriter{
    font-family: Courier, monospace;

}

.typewriter-text {
  	overflow: hidden;
  	letter-spacing: 2px;
 	animation: typing 5s steps(30, end), blink 1s step-end infinite;
    white-space: nowrap;
    font-size: 30px;
    font-style: normal;
    box-sizing: border-box;
    padding-top: 0px;
     padding-right: 0px;
     padding-bottom: 20px;
     padding-left: 600px;
}

@keyframes typing {
    from {
        width: 0%
    }
    to {
        width: 100%
    }
}

@keyframes blink {
    from, to {
        border-color: transparent
    }
    50% {
        border-color: orange;
    }
}
/* h2{
  color: #ffffff;
  font-style:
  font-family: Goldman;
  padding-top: 0px;
   padding-right: 0px;
   padding-bottom: 20px;
   padding-left: 600px;

} */

figure{
  padding-top: 0px;
   padding-right: 0px;
   padding-bottom:  20px;
   padding-left: 600px;
}
/* Headings */
h1 {font-size: 60px} /* 26px */
h2 {font-size: 40px} /* 22px */
h3 {font-size: 1.429em} /* 20px */
h4 {font-size: 1.286em} /* 18px */
h5 {font-size: 1.143em} /* 16px */
h6 {font-size: 1em} /* 14px */

h2, h3, h4, h5, h6 {
  font-weight: 400;
  line-height: 1.1;
  margin-bottom: .8em;
}
@import url('https://fonts.googleapis.com/css?family=Varela+Round')
$font: 'Varela Round', sans-serif

$color: (1: #ED4337, 2: #A1D3A2, 3: #50B8E7, 4: darken(#FFF53C, 15%))
$count: 4

body
  font-family: monospace
  text-transform: uppercase
  background: #999

.container
  height: 100vh
  width: 100vw
  display: flex
  justify-content: center
  align-items: center

ul
  display: flex
  flex-direction: row
  font-size: 22px

li
  position: relative
  list-style-type: none
  margin-right: 50px
  cursor: pointer
  color: black
  &:last-child
    margin-right: 0px
  &:after
    content: ''
    position: absolute
    z-index: -1
    left: 50%
    transform: translateX(-50%) rotate(0deg)

@for $z from 1 through $count
  li:nth-child(#{$z}):after
    background: map-get($color, $z)

li:nth-child(1):after
  clip-path: polygon(6% 10%, 100% 0, 64% 65%, 28% 65%)
  height: 85px
  width: 75px
  bottom: -47px
  animation: stretch 2s ease infinite
  @keyframes stretch
    25%
      transform: translateX(-50%) rotate(2deg) scaleY(.93)
    50%
      transform: translateX(-50%) rotate(-2deg) scaleX(.93)
      clip-path: polygon(6% 20%, 100% 0, 64% 65%, 28% 65%)
    75%
      transform: translateX(-50%) rotate(3deg) scale(1.05)

li:nth-child(2):after
  clip-path: polygon(61% 0%, 100% 19%, 71% 100%, 0% 100%)
  height: 55px
  width: 75px
  bottom: -18px
  animation: stretch2 1.5s ease infinite
  @keyframes stretch2
    25%
      transform: translateX(-50%) rotate(-2deg) scaleY(1.05)
    50%
      transform: translateX(-50%) rotate(2deg) scaleY(.93) scaleX(1.06)
      clip-path: polygon(61% 0%, 100% 19%, 71% 100%, 12% 100%)
    75%
      transform: translateX(-50%) rotate(3deg) scale(1.05)
      clip-path: polygon(61% 0%, 80% 19%, 71% 100%, 12% 100%)

li:nth-child(3):after
  clip-path: polygon(0% 0%, 100% 0%, 100% 99%, 0% 57%)
  height: 55px
  width: 45px
  bottom: -18px
  animation: stretch3 2.0s ease infinite
  @keyframes stretch3
    25%
      transform: translateX(-50%) rotate(-2deg) scaleY(1.05)
    50%
      transform: translateX(-50%) rotate(2deg) scaleY(.93) scaleX(1.06)
      clip-path: polygon(10% 5%, 100% 0%, 100% 99%, 0% 57%)
    75%
      transform: translateX(-50%) rotate(3deg) scale(1.05)
      clip-path: polygon(0% 0%, 100% 0%, 100% 99%, 10% 37%)

li:nth-child(4):after
  clip-path: polygon(0% 40%, 100% 0%, 100% 99%, 19% 100%)
  height: 55px
  width: 45px
  bottom: -18px
  animation: stretch4 2.0s ease infinite
  @keyframes stretch4
    25%
      transform: translateX(-50%) rotate(-2deg) scaleY(1.05)
    50%
      transform: translateX(-50%) rotate(2deg) scaleY(.93) scaleX(1.06)
      clip-path: polygon(0% 40%, 100% 0%, 100% 99%, 19% 100%)
    75%
      transform: translateX(-50%) rotate(3deg) scaleY(1.05)
      clip-path: polygon(0% 40%, 100% 0%, 100% 99%, 19% 100%)

li:hover:after
  animation: boink 1s ease forwards 1
  @keyframes boink
    80%
      transform: scaleX(1.9) scaleY(.6) translateX(-30%)

@media (max-width: 600px)
  li
    font-size: 15px



/* Anchors */
a {outline: 0;}
a img {border: 0px; text-decoration: none;}
a:link, a:visited {
  color: #C74350;
  padding: 0 1px;
  text-decoration: underline;
}
a:hover, a:active {
  background-color: #C74350;
  color: #fff;
  text-decoration: none;
  text-shadow: 1px 1px 1px #333;
}

/* Paragraphs */
p {margin-bottom: 1.143em;}
* p:last-child {margin-bottom: 0;}

strong, b {font-weight: bold;}
em, i {font-style: italic;}

::-moz-selection {background: #F6CF74; color: #fff;}
::selection {background: #F6CF74; color: #fff;}

/* Lists */
ul {
  list-style: outside disc;
  margin: 1em 0 1.5em 1.5em;
}

ol {
  list-style: outside decimal;
  margin: 1em 0 1.5em 1.5em;
}

dl {margin: 0 0 1.5em 0;}
dt {font-weight: bold;}
dd {margin-left: 1.5em;}

/* Quotes */
blockquote {font-style: italic;}
cite {}

q {}

/* Tables */
table {margin: .5em auto 1.5em auto; width: 98%;}

  /* Thead */
  thead th {padding: .5em .4em; text-align: left;}
  thead td {}

  /* Tbody */
  tbody td {padding: .5em .4em;}
  tbody th {}

  tbody .alt td {}
  tbody .alt th {}

  /* Tfoot */
  tfoot th {}
  tfoot td {}
