<h3>Pick a number to test your luck!</h3>

<form action="/games/secret/<%= params[:name] %>">
<label for="1">1</label>
  <input type="radio" name="1" id="1">
<label for="2">2</label>
  <input type="radio" name="2" id="2">
<label for="3">3</label>
  <input type="radio" name="3" id="3">
<label for="4">4</label>
  <input type="radio" name="4" id="4">
<label for="5">5</label>
  <input type="radio" name="5" id="5">
<label for="6">6</label>
  <input type="radio" name="6" id="6">
<label for="7">7</label>
  <input type="radio" name="7" id="7">
<label for="8">8</label>
  <input type="radio" name="8" id="8">
<label for="9">9</label>
  <input type="radio" name="9" id="9">
<label for="10">10</label>
  <input type="radio" name="10" id="10">

<button>Guess!</button>

</form>
