<h2>Add a new Venue</h2>

<form action='/venues' method='post'>
      <label class='add' >Name:
      <input type='text' name='name'>
      </label>
      <label class='add' >Capacity:
      <input type='text' name='capacity' >
      </label>
      <label class='add' >Photo:
      <input type='text' name='image_url'>
      </label>
      <label class='add' >Description:
        <textarea name='description'></textarea>
        </label>

    <input class='add_button' type="submit" value="Add This Venue">
    </form>
