<div class="wrapper">
  <form action="/movie">
    <h2>Search Portal</h2>
    <p>Enter a movie title or term to search by.</p>
    <label>
      <input type="text" name="term" placeholder="Enter a search term">
    </label>
    <input type="submit" value="Search">
  </form>
  <span class="empty">form can not be empty</span>

</div>
