<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Planets and Moons</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <nav>
      <h1>Welcome to Planets and Moons</h1>
      <a href="/">Home</a>
      |
      <a href="/planets">Planet Index</a>
      |
      <a href="/moons">Moon Index</a>
      |
      <a href="/planets/new">New Planet</a>
      |
      <a href="/moons/new">New Moon</a>
      <hr>
    </nav>

    <section>
      <%= yield %>
    </section>

    <footer>
      <hr>
      &copy; Outer Space Systems Ltd 2020
    </footer>
  </body>
</html>
