<h1>Add A New Moon</h1>

<form action="/moons" method="post">

  <label>
    Name:
    <input type="text" name="name" value="Your moon's name">
  </label>

  <br>
  <br>

  <label>
    Orbital Period:
    <input type="integer" name="orbital_period" value="Number of days to orbit the home planet">
  </label>

  <br>
  <br>

  <label>
    Day Length:
    <input type="integer" name="day_length" value="Time to fully rotate">
  </label>

  <br>
  <br>

  <label>
    Is there life?:
    <input type="text" name="inhabited" value="1 for Yes, 0 for No:">
  </label>

  <br>
  <br>

  <label>
    Does it have an atmosphere?:
    <input type="text" name="atmosphere" value="1 for Yes, 0 for No:">
  </label>

  <br>
  <br>

  <label>
    Image URL:
    <input type="text" name="img_url" value="URL goes here">
  </label>
  <br>
  <br>

  <label>
    Planet ID:
    <input type="integer" name="planet_id" value="Enter Associated Planet ID">
  </label>

  <br>
  <br>

<button>Add New Moon</button>
</form>
