body {
margin: 0 auto;
}

.catClass {
  display: inline-block;
  position: relative;
  top: 760px;
  /* left: 20px; */
}
#catID {
  width: 300px;
}

#hi-cat {
  top: 0px;
  left: 0px;
  position: absolute;
  z-index: 1;
  display: none;
}

#coin {
  display: inline-block;
  position: relative;
  top: -700px;
  left: 1500px;
  width: 400px;
}

#go {
  display: inline-block;
  position: relative;
  top: -900px;
  left: 30px;
  width: 200px;
}

#overlay {
  height: 1200px;
  width: 100%;
  margin: 0 auto;
  position: absolute;
  z-index: 1;
  background-color: rgba(231, 68, 240, 0.74);
  display: none;

}

#containerBackground {
  /* border: 20pt solid black; */
  /* background-color: rgb(222, 98, 94); */
  height: 100%;
  margin: 0 auto;
  object-fit: cover;
