<h1>Add a new website to the mix!</h1>

<form action="/websites" method="post">

  <label>
    Name:
    <input type="text" name="name">
  </label>
  <br>

  <label>
    Frontend ID:
    <input type="text" name="frontend_id">
  </label>
  <br>

  <label>
    Backend ID:
    <input type="text" name="backend_id">
  </label>
  <br>

  <label>
    Year Launched:
    <input type="text" name="year_launched">
  </label>
  <br>

  <label>
    Database Breached?:
    <label for="true">Yes</label>
    <input type="radio" id="true" value="true" name="hacked">
    <label for="false">No</label>
    <input type="radio" id="false" value="false" name="hacked">
  </label>
  <br>

  <label>
    Domain:
    <input type="text" name="domain">
  </label>
  <br>

  <label>
    Owned By:
    <input type="text" name="owned_by">
  </label>
  <br>

  <label>
    Wikipedia:
    <input type="text" name="wiki">
  </label>
  <br>

  <input type="submit" value="Add Website">

</form>
