<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Movie Lookup</title>
  </head>
  <body>
    <nav>
      <h1>Movie Lookup</h1>
      <hr>
    </nav>

    <%= yield %>

    <img src="https://media.giphy.com/media/VeHN6Z1DD1E3TWAy8P/giphy.gif" alt="celery man">

    <footer>
          <hr>
          &copy; Celery Man Database 2020
        </footer>
  </body>
</html>
